<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2019, California Institute of Technology ("Caltech").
  U.S. Government sponsorship acknowledged.
  
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  * Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
  * Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
  * Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->

<document>
  <properties>
    <title>Installation</title>
    <author email="Hyun.H.Lee@jpl.nasa.gov">Hyun Lee</author>
    <author email="Jordan.Padams@jpl.nasa.gov">Jordan Padams</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Installation">
      <p>This document describes how to install the Registry software contained in the <i>${project.artifactId}</i> package. The following topics can be found in this section:
      </p>

      <ul>
        <li><a href="#System_Requirements">System Requirements</a></li>
        <li><a href="#Unpacking_the_Package">Unpacking the Package</a></li>
        <li><a href="#Install_Solr_and_Registry_-_Docker">Install Solr and Registry - Docker</a></li>
        <li><a href="#Install_Solr_and_Registry_-_Standalone">Install Solr and Registry - Standalone</a></li>
        <li><a href="#Operational_Deployment">Operational Deployment</a></li>
        <li><a href="#Next_Steps">Next Steps</a></li>
        <li><a href="#Common_Errors">Common Errors</a></li>
      </ul>
    </section>

    <section name="System Requirements">
      <p>This section details the system requirements for installing and operating the Registry.
      </p>

      <subsection name="Java Runtime Environment">
        <p>The Registry was developed using Java and will run on any platform with a supported Java Runtime Environment (JRE). The software was specifically compiled for and tested in Java version 1.8 (64-bit). The following commands test the local Java installation in a UNIX-based environment:
        </p>

	<p>NOTE: This software only works with 64-bit Java installation.</p>

        <source>
% which java
/usr/bin/java

% java -version
java version "1.8.0_101"
Java(TM) SE Runtime Environment (build 1.8.0_101-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.101-b13, mixed mode)
        </source>

        <p>The first command above checks whether the <i>java</i> executable is in the environment's path and the second command reports the version. If Java is not installed or the version is not at least 1.8, Java will need to be downloaded and installed in the current environment. Consult the local system administrator for installation of this software. For the do-it-yourself crowd, the Java software can be downloaded from the <a href="http://www.oracle.com/technetwork/java/javase/downloads/" target="_blank">Oracle Java Download</a> page. The suggested software package is the Java Standard Edition (SE) 8, either the JDK or the JRE package. The JDK package is not necessary to run the software but could be useful if development and compilation of Java software will also occur in the current environment.
        </p>
      </subsection>
      
      <subsection name="Memory Requirements">
	<ol>
	  <ul>The Registry requires >2GB memory available in order to perform normal operations</ul>
	</ol>
      </subsection>
    </section>

    <section name="Unpacking the Package">
      <p>Download the <i>${project.artifactId}</i> package from Github (<a href="https://github.com/NASA-PDS-Incubator/${project.artifactId}/releases/download/v${project.version}/${project.artifactId}-${project.version}-bin.tar.gz" target="_blank">TAR.GZ</a> <a href="https://github.com/NASA-PDS-Incubator/${project.artifactId}/releases/download/v${project.version}/${project.artifactId}-${project.version}-bin.tar.gz" target="_blank">ZIP</a>). The binary distribution is available in identical zip or tar/gzip packages. The installation directory may vary from environment to environment but in UNIX-based environments it is typical to install software packages in the <i>/home/pds</i> directory and in Windows-based environments it is typical to install software packages in the <i>C:\Program Files</i> directory. Unpack the selected binary distribution file with one of the following commands:
      </p>

      <p>The top-level directory where the package is installed will be referenced in these instructions as <i><b>$REGISTRY_HOME</b></i>.</p>
      <source>
% unzip ${project.artifactId}-${project.version}-bin.zip
or
% tar -xzvf ${project.artifactId}-${project.version}-bin.tar.gz

# Set the REGISTRY_HOME variable.
% cd ${project.artifactId}-${project.version}

# On Linux and Mac (Bash shell only. Update accordingly for other shells.)
% export REGISTRY_HOME=$(pwd)

# On Windows
% set "REGISTRY_HOME=%cd%"
      </source>

      <p>Note: Depending on the platform, the native version of <i>tar</i> may produce an error when attempting to unpack the distribution file because many of the file paths are greater than 100 characters. If available, the GNU version of tar will resolve this problem. If that is not available or cannot be installed, the zipped package will work just fine in a UNIX environment.
      </p>

      <p>The commands above result in the creation of the <i>${project.artifactId}-${project.version}</i> directory with the following directory structure:
      </p>

      <ul>
        <li><b>LICENSE</b><br/>
          <p>The Apache License, Version 2.0
          </p>
        </li>
        <li><b>README.txt</b><br/>
          <p>A README file with some high level information on the project and how to view more detailed documentation.
          </p>
        </li>
        <li><b>VERSION.txt</b><br/>
          <p>A VERSION file contains the version of the project.
          </p>
        </li>
        <li><b>bin/</b><br />
          <p>This directory contains the scripts for installing or uninstalling.</p>
        </li>
        <li><b>build/</b><br />
          <p>This directory contains the scripts for installing or uninstalling the project in Docker. </p>
        </li>
        <li><b>dist/</b><br />
          <p>This directory contains the jar for the Registry API (PDS Search Protocol).</p>
        </li>
        <li><b>collection/</b><br />
          <p>This directory contains the Apache Solr configuration for collections installed by default by the Registry.
          </p>
        </li>
        <li><b>lib/</b><br />
          <p>This directory contains JARs used by some of the registry utility tools.</p>
        </li>
      </ul>
    </section>

    <section name="Install Solr and Registry - Docker">
      <p><b>NOTE: Docker installation is currently only available for Linux / Mac OS X users. Windows Users please use the <a href="#Install_Solr_and_Registry_-_Standalone">Standalone Installation</a></b>
      </p>

      <p>This section details how to install and deploy a dockerized instance of the PDS Registry.
      </p>

	    <p>The following Registry installation procedure is for Linux and Mac operating systems. Please contact Engineering Node if you run into any issues.
	    </p>

      <ol>
        <li>
          <p>Install and Run Docker Desktop for Mac as indicated in <a href="https://docs.docker.com/docker-for-mac/install/" target="_blank">Install Docker Desktop for Mac</a> website if your system doesn't have Docker.</p>
        </li>
        
        <li>Move to the directory that registry installer script resides.
          <source>
% cd $REGISTRY_HOME/bin
          </source>
        </li>
        <li>Execute the Registry Docker Installer script and you should see the following output if successful:
          <source>
% ./registry_installer_docker.sh install

Installing...
Building Registry Docker Image.                               SUCCESS
Starting Registry Docker Container                            SUCCESS
Waiting for Solr server to start.
Creating a Registry Service Blob collection (registry)        SUCCESS
Creating a XPath collection (xpath)                           SUCCESS
Creating a Search collection (data)                           SUCCESS
          </source>
        </li>
        <li>Next, you can <a href="#Verifying_Successful_Installation">Verify Successful Installation</a> and potentially configure for <a href="#Operational_Deployment">Operational Deployment</a> for setting this up on an operational, public server.</li>
      </ol>
    </section>
    
    <section name="Install Solr and Registry - Standalone">
      <p>This section of the Registry Installation guide is for installing Solr and the Registry as a standalone application instead of using Docker. The Docker installation method is the preferred method for ease of deployment across multiple discipline nodes, but not required.
      </p>

      <p><i>Note: The following procedure can be followed by either Linux or Windows users, however the paths and some of the commands will need to be modified if not performed in a Cygwin or equivalent POSIX-compatible environment.</i></p>

      <ol>
        <li>
          <p><a href="https://www.apache.org/dyn/closer.lua/lucene/solr/8.2.0/solr-8.2.0.tgz">Download Solr</a></p>
          <p>Unpack Solr package and note the path to the Solr instance.<br />Note: It is preferred that the Solr package have same parent directory as Registry / Harvest.</p>
          <source>
% tar -xvf solr-8.2.0.tgz
% pwd
/usr/local/

% ls
harvest-x.x.x/
${project.artifactId}-${project.version}/
solr-8.2.0/

# If different location, note location of SOLR
% cd solr-8.2.0/
% pwd
/usr/local/solr-8.2.0/
          </source>
        </li>
        <li>Move to the directory that registry installer script resides (Note: See <a href="#Unpacking_the_Package">Unpacking the Package</a> for configuring the REGISTRY_HOME variable or find out what that path represents.)
          <source>
% cd /usr/local/${project.artifactId}-${project.version}/bin
          </source>
        </li>
        <li>Execute the registry installer software:
          <source>
% ./registry_installer_standalone.sh
          </source>
        </li>
        <li>Enter the Solr installation location that is done in previous step.
          <source>
Enter location of Solr installation: /usr/local/solr-8.2.0
          </source>
          
          <p>You should see output similar to the following: </p>
          
          <source>
STARTING Registry Installer in standalone mode.

  Registry   .....
       ( v 2.2.0 )
       ( installing on platform: Mac OS X )
       ( IP Address:- 192.168.1.120 )
       ( Host Name:- MY HOST )

Enter location of SOLR installation: /usr/local/solr-8.2.0
 Copied a directory from /usr/local/registry/registry-2.2.0-SNAPSHOT/bin/../dist to /usr/local/solr-8.2.0/contrib/pds/lib
 Copied a directory from /usr/local/registry/registry-2.2.0-SNAPSHOT/bin/../collections/data to /usr/local/solr-8.2.0/server/solr/configsets/data/conf
 Copied a directory from /usr/local/registry/registry-2.2.0-SNAPSHOT/bin/../collections/registry to /usr/local/solr-8.2.0/server/solr/configsets/registry/conf
 Copied a directory from /usr/local/registry/registry-2.2.0-SNAPSHOT/bin/../collections/xpath to /usr/local/solr-8.2.0/server/solr/configsets/xpath/conf

Starting a SOLR server... Waiting up to 180 seconds to see Solr running on port 8983...
*** [WARN] *** Your open file limit is currently 10240.
 It should be set to 65000 to avoid operational disruption.
 If you no longer wish to see this warning, set SOLR_ULIMIT_CHECKS to false in your profile or solr.in.sh
*** [WARN] ***  Your Max Processes Limit is currently 1418.
 It should be set to 65000 to avoid operational disruption.
 If you no longer wish to see this warning, set SOLR_ULIMIT_CHECKS to false in your profile or solr.in.sh
Waiting up to 180 seconds to see Solr running on port 8983 [/]
Started Solr server on port 8983 (pid=6007). Happy searching!


Return status from the SOLR server startup = 0
The SOLR server is started successfully.
Creating registry collection...
Created collection 'registry' with 3 shard(s), 1 replica(s) with config-set 'registry'
Return status from creating registry collection = 0
Registry collection is created successfully.
Creating xpath collection...
Created collection 'xpath' with 3 shard(s), 1 replica(s) with config-set 'xpath'
Return status from creating xpath collection = 0
Xpath collection is created successfully.
Creating search collection (data)...
Created collection 'data' with 3 shard(s), 1 replica(s) with config-set 'data'
Return status from creating search collection (data) = 0
Search collection (data) is created successfully.
          </source>        
        </li>
        <li>Next, you can <a href="#Verifying_Successful_Installation">Verify Successful Installation</a> and potentially configure for <a href="#Operational_Deployment">Operational Deployment</a> for setting this up on an operational, public server.</li>
      </ol>
    </section>

    <section name="Verifying Successful Installation">
      <li>To verify installation, first, check the docker image is running:
        <source>
% docker ps

CONTAINER ID        IMAGE                     COMMAND                  CREATED             STATUS              PORTS                    NAMES
0ee274f1fa5f        registry:2.2.0   "/bin/bash -c 'solr …"   5 minutes ago       Up 5 minutes        0.0.0.0:8983->8983/tcp   registry
        </source>
      </li> 
      <li>Next, you can check the solr endpoint is up, however, how to test that will depend upon your server configuration:
        <ul>
          <li>If running on your local machine, open up your favorite browser and go to <i>http://localhost:8983/solr</i> to view the Solr admin interface.</li>
          <li>If running on a server and the port is open, replace local host with your domain, e.g. <i>http://pds.nasa.gov:8983/solr</i></li>
          <li>If running on a server and the port is not open, you can run a <a href="https://curl.haxx.se/">curl</a> command to verify Solr is active:
            <source>
% curl http://localhost:8983/solr/admin/cores?action=STATUS

{
"responseHeader":{
  "status":0,
  "QTime":4},
"initFailures":{},
"status":{
  "data_shard1_replica_n1":{
    "name":"data_shard1_replica_n1",
    "instanceDir":"/var/solr/data/data_shard1_replica_n1",
    "dataDir":"/var/solr/data/data_shard1_replica_n1/data/",
    "config":"solrconfig.xml",
    "schema":"managed-schema",
    "startTime":"2019-10-25T04:06:13.058Z",
    "uptime":551826,
    "lastPublished":"active",
    "configVersion":0,
    "cloud":{
      "collection":"data",
      "shard":"shard1",
      "replica":"core_node3"},
    "index":{
      "numDocs":0,
      "maxDoc":0,
      "deletedDocs":0,
      "indexHeapUsageBytes":0,
      "version":2,
      "segmentCount":0,
      "current":true,
      "hasDeletions":false,
      "directory":"org.apache.lucene.store.NRTCachingDirectory:NRTCachingDirectory(MMapDirectory@/var/solr/data/data_shard1_replica_n1/data/index lockFactory=org.apache.lucene.store.NativeFSLockFactory@5566110; maxCacheMB=48.0 maxMergeSizeMB=4.0)",
      "segmentsFile":"segments_1",
      "segmentsFileSizeInBytes":69,
      "userData":{},
      "sizeInBytes":69,
      "size":"69 bytes"}},
      .
      .
      .
            </source>
          </li>
        </ul>
      </li>
      <li>You are now ready to move onto <a href="#Next_Steps">Next Steps</a> installing Harvest and trying out a tutorial</li>

    </section>

    <section name="Operational Deployment">
      <p>Once you are ready to deploy the Registry operationally, you will want to secure Solr by setting up a reverse proxy in your Apache HTTP Server <i>httpd.conf</i> file:</p>
      <source>
        ProxyPass /services/registry/ http://localhost:8983/solr/
        ProxyPassReverse /services/registry/ http://localhost:8983/solr/
        ProxyPass /services/registry http://localhost:8983/solr
        ProxyPassReverse /services/registry http://localhost:8983/solr
        
        &lt;!-- Secures the Solr admin interface to your local subnet. Change your IP/subnet information accordingly. --&gt;
        &lt;Location "/services/registry/#/"&gt;
        Order Deny,Allow
        Deny from all
        Allow from 123.45.0.0/255.255.0.0 123.56.0.0/255.255.0.0 .jpl.nasa.gov
        &lt;/Location&gt;
      </source>
      
      <p>You should now be able to go to http://my.website.com/services/registry and see the Solr Admin interface.</p>
    </section>

    <section name="Next Steps">
      <subsection name="Install Harvest Tool">
        <p><a href="../../../ingest/harvest/index.html">The Harvest Tool</a> can be used to populate the Registry with data. The Harvest Tool runs locally at the Discipline Node to crawl the local data repository in order to discover products and index associated metadata with the Registry.</p>
      </subsection>
    </section>

    <section name="Uninstall">
      <p>In the event you want to uninstall the Registry either to install a newer version or for another reason:</p>
      <ul>
        <li>
          For Docker Installation:
          <source>
% ./registry_installer_docker.sh uninstall
Uninstalling...

Are you sure you want to uninstall the Registry and Search and all associated indices? (y/n) y
Removing the Registry Blob collection from the SOLR.
Removing the Registry XPath collection.
Removing the Search collection.
Stopping the SOLR instance.
Removing Registry Docker Images.
Removing 'solr_data' volume
          </source>
        </li>
        <li>
          For Standalone Installation:
          <source>
$ ./registry_installer_standalone.sh uninstall
STARTING Registry Installer in standalone mode.

  Registry   .....
       ( v 2.2.0-SNAPSHOT )
       ( installing on platform: Mac OS X )
       ( IP Address:- 192.168.1.120 )
       ( Host Name:- LMC-060585 )

Enter location of SOLR installation: /Users/jpadams/Documents/proj/pds/pdsen/workspace/solr-8.2.0
Deleting registry collection...
{
  "responseHeader":{
    "status":0,
    "QTime":198},
  "success":{"192.168.1.120:8983_solr":{"responseHeader":{
        "status":0,
        "QTime":47}}}}


Deleted collection 'registry' using command:
http://192.168.1.120:8983/solr/admin/collections?action=DELETE&name=registry
Return status from deleting registry collection = 0
Registry collection is deleted successfully.
Deleting xpath collection...
{
  "responseHeader":{
    "status":0,
    "QTime":187},
  "success":{"192.168.1.120:8983_solr":{"responseHeader":{
        "status":0,
        "QTime":54}}}}


Deleted collection 'xpath' using command:
http://192.168.1.120:8983/solr/admin/collections?action=DELETE&name=xpath
Return status from deleting xpath collection = 0
Xpath collection is deleted successfully.
Deleting search collection (data)...
{
  "responseHeader":{
    "status":0,
    "QTime":171},
  "success":{"192.168.1.120:8983_solr":{"responseHeader":{
        "status":0,
        "QTime":37}}}}


Deleted collection 'data' using command:
http://192.168.1.120:8983/solr/admin/collections?action=DELETE&name=data
Return status from deleting search collection (data) = 0
Search collection (data) is deleted successfully.

Found 1 Solr nodes:

Solr process 6007 running on port 8983
{
  "solr_home":"/Users/jpadams/Documents/proj/pds/pdsen/workspace/solr-8.2.0/server/solr",
  "version":"8.2.0 31d7ec7bbfdcd2c4cc61d9d35e962165410b65fe - ivera - 2019-07-19 15:11:04",
  "startTime":"2019-10-25T04:41:04.215Z",
  "uptime":"0 days, 0 hours, 20 minutes, 2 seconds",
  "memory":"84.4 MB (%16.5) of 512 MB",
  "cloud":{
    "ZooKeeper":"localhost:9983",
    "liveNodes":"1",
    "collections":"0"}}


Stopping the SOLR server...
Sending stop command to Solr running on port 8983 ... waiting up to 180 seconds to allow Jetty process 6007 to stop gracefully.

The SOLR server is stopped successfully.
          </source>
        </li>
      </ul>
    </section>

    <section name="Common Errors">
      <subsection name="Failed to create a registry service collection (.system)...">
	<p>This issue could happen for several reasons, but we will need to look through the logs to determine the issue:
	</p>
	<ul>
	  <li>Look at Solr Console log to determine where the issue may lie:
	    <source>
# STANDALONE INSTALLATION
open $SOLR_HOME/server/logs/solr.log
open $SOLR_HOME/server/logs/solr-8983-console.log
	    </source>
	  </li>
	  <li>If the log output states:
	    <source>
Error occurred during initialization of VM
Could not reserve enough space for 2097152KB object heap
	    </source>
	    TBD solution
	  </li>
	</ul>
      </subsection>
      <subsection name="HTTP 404 - Requested Resource Not Available">
        <p>This error means the application failed to install correctly. The following are potential mitigation strategies:
        </p>
        <ul>
          <li>Verify domain and port are correct for the local Solr installation.</li>
          <li>View $SOLR_HOME/server/logs/solr.log for information on potential causes of the failed deployment.</li>
        </ul>
      </subsection>

      <subsection name="Other Errors">
        <p>For other errors that arise while testing the installation, see the <a href="../operate/index.html#Common_Errors">Operate - Common Errors</a></p>
      </subsection>
    </section>

  </body>
</document>
