# Items for Git to ignore

# Object files
*.o
*.pkl
*.pyc

# Libraries
*.lib
*.a

# Eclipse files
.settings/
*.project
*.classpath

# IntelliJ files
.idea/
*.iml

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Temporary files
*~
src/test/temp/

# other stuff
*.xpr
*.swp
/bin/
.*.swp
*.sublime-*
*.DS_Store
pom.xml.versionsBackup

# Java stuff
*.javac
.gwt/
target/
validate_stack_traces*

# macOS specific stuff
.DS_Store

# Validate output
*.csv

# Local .terraform state files, directories and crash logs
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Ignore Terraform CLI configuration files
.terraformrc
terraform.rc

# Ignore Terraform override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
