<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2019, California Institute of Technology ("Caltech").
  U.S. Government sponsorship acknowledged.
  
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  * Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
  * Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
  * Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Paul.Ramirez@jpl.nasa.gov">Paul Ramirez</author>
    <author email="Jordan.Padams@jpl.nasa.gov">Jordan Padams</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>The Registry is an Apache Solr adaptation that includes the Solr Admin interface along with the pre-installed collections that come with the PDS Registry and Search.  Once it is deployed, operations include modifying the configuration and leveraging the PDS and PDAP protocols to query data and metadata that has been extracted from PDS4 data products. The following topics will be covered below:
      </p>
      <ul>
        <li><a href="#Tools">Tools to Interact with the Registry</a>
        <ul>
          <li><a href="#Solr_Admin_Interface">Solr Admin Interface</a></li>
          <li><a href="#Registry_Manager_Tool">Registry Manager Tool</a></li>
        </ul>
        </li>
        <li><a href="#Registry_Solr_Collections">Registry Solr Collections</a>
          <ul>
            <li><a href="#Registry_Collection">Registry Collection</a></li>
            <li><a href="#XPath_Collection">XPath Collection</a></li>
            <li><a href="#Data_Collection">Metadata Search Collection</a></li>
          </ul>
        </li>
      	<li><a href="#Common_Operations">Common Operations</a>
      	<ul>
      	  <li><a href="#Add_Data_To_Registry_and_Search">Add Data To Registry and Search</a></li>
      	  <li><a href="#Delete_Data_From_Registry_and_Search">Delete Data From Registry and Search</a></li>
      	  <li><a href="#Re-Ingest_Data_To_Registry_and_Search">Re-Ingest Data To Registry and Search</a></li>
      	</ul>
      	</li>
        <li><a href="#Configuration">Configuration</a></li>
      	<ul>
      	  <li><a href="#Add A Facet">Add A Facet</a></li>
      	  <li><a href="#Update_Output_Format">Update Output Format</a></li>
      	  <li><a href="#Add_a_Field_to_the_Schema">Add a Field to the Schema</a></li>
      	  <li><a href="#Create_New_Search_Endpoint">Create New Search Endpoint</a></li>
      	</ul>
        <li><a href="#Search_Protocols">Search Protocols</a></li>
        <li><a href="#Common_Errors">Common Errors</a></li>
      </ul>
    </section>

    <hr />
    <section name="Tools">
      <subsection name="Solr Admin Interface">
        <p>The Solr Administration Interface is available for advanced configuration and debugging of the Solr instance. The page can be viewed at <i>http://localhost:8983/solr</i> or if you have setup the proxy pass as directed in the installation guide, <i>https://&lt;hostname&gt;:8983/services/registry</i>. The following resources are available detailing the how to use this interface:
        </p>
        
        <ul>
          <li><a href="https://lucene.apache.org/solr/guide/8_2/overview-of-the-solr-admin-ui.html" target="_blank">Overview of the Solr Admin UI</a>
          </li>
          <li><a href="https://lucene.apache.org/solr/guide/8_2/using-the-solr-administration-user-interface.html" target="_blank">Using the Solr Administration User Interface</a>
          </li>
        </ul>
        
        <p>From the query page, you can perform various queries against the available end points supported by the services. See <i>registry/collections/*/solrconfig.xml</i> for the different possible endpoints. Details regarding the supported query parameters can be found on the <a href="http://wiki.apache.org/solr/CommonQueryParameters" target="_blank">Common Query Parameters</a> page of the Solr wiki.
        </p>
      </subsection>
      
      <subsection name="Registry Manager Tool">
        <p>
          This utility currently on wraps the <a href="https://lucene.apache.org/solr/guide/8_2/post-tool.html">Solr Post Tool</a> to post and delete data from the PDS Registry collections. Future improvements to this tool 
          may allow for more extensive interaction with the Registry from the command-line.
        </p>
        <p>
          Current functionality includes:
          <ul>
            <li>Post Harvest-generated Solr Documents to the searchable 'data' collection</li>
            <li>Delete individual Registry packages (aka Harvest runs) from Registry collections</li>
            <li>Delete all documents from all collections.</li>
          </ul>
        </p>

        <h4>Usage</h4>
        <source>
$ ./registry-mgr -h

Usage: ./registry-mgr [OPTIONS] [SOLR-DOCS]

Options:
  -h                              Print Help
  -host &lt;host&gt;                    Solr server host (default: localhost)
  -port &lt;port&gt;                    Solr server port (default: 8983)
  -delete-pkg &lt;package_id&gt;        Delete a specific Harvest ingestion package
  -delete-all                     Delete all data from all Registry collections

Optional Parameters:
  SOLR-DOCS     solr-docs directory or an xml file
        </source>

      </subsection>
    </section>

    <hr />
    <section name="Registry Solr Collections">
      <subsection name="Registry Collection">
        <p><b>Endpoint:</b> <a href="http://localhost:8983/solr/registry/">http://localhost:8983/solr/registry/</a> (replace host/port as needed)</p>
        
        <p><b>Description: </b>The Registry collection is used as the base blob store for all PDS product labels. It includes some basic metadata about the product label, 
          like the MD5 checksum, Registry Package ID (the unique identifier for each Harvest run), etc., with plans to expand this collection to include 
          more important archival metadata.
        </p>
      </subsection>
        
      <subsection name="XPath Collection">
        <p><b>Endpoint:</b> <a href="http://localhost:8983/solr/xpath/">http://localhost:8983/solr/xpath/</a> (replace host/port as needed)</p>
        
        <p><b>Description: </b>The XPath collection is used as a quick-look of the label metadata ingested into the Registry Collection. It is a nice 
          way to have a look at the data in your archive, as a well as a means for informing how you may want to augment your <a href="#Data_Collection">'data' collection</a>.
        </p>
      </subsection>
      
      <subsection name="Data Collection">
        <p><b>Endpoint:</b> <a href="http://localhost:8983/solr/data/">http://localhost:8983/solr/data/</a> (replace host/port as needed)</p>
        
        <p><b>Description: </b>The Data collection is intended to be the more search-friendly metadata store. It is used to refine the "kitchen sink"
          of metadata in all of the labels, into a refined set of search fields that will enable a more accurate, usable search capability. This collection 
          will eventually be utilized by the PDS Search API efforts to provide an integrated approach to metadata search across the PDS.
        </p>
      </subsection>
      
    </section>

    <hr />
    <section name="Common Operations">
      <p>Here are some common operations you may wish to perform to interact with the Registry and Search. 
A tool to simplify these actions is in the plan, but in the meantime, here are the various raw commands you can do 
to modify data in your registry and search. 
For additional information for interacting with the Registry, please also take a look at 
the <a href="https://lucene.apache.org/solr/guide/8_2/collections-api.html">Solr Collections API</a> and other info 
on <a href="https://lucene.apache.org/solr/guide/8_2/overview-of-documents-fields-and-schema-design.html">interacting with Solr documents</a>.
</p>

      <subsection name="Add Data To Registry and Search">
        <p>Run <a href="https://pds-engineering.jpl.nasa.gov/development/pds4/current/harvest/">the Harvest Tool</a> to populate the Registry with data.
        </p>
        
        <p>When you run the Harvest Tool, basic metadata to capture archive information will be ingested into the Registry.</p>
           
        <p>After you have run the Harvest Tool you should see one or more files like <i>solr_doc_0.xml</i>, <i>solr_doc_1.xml</i>
under <i>/path/to/registry/../registry-data/solr-docs</i> (or on Windows C:\\path\to\registry\..\registry-data\solr-docs).
        </p>
        
        <p>These files are needed to populate the <i>data</i> Solr collection, which will provide a more refined, custom indexing strategy to
          PDS product metadata, allowing it to be more easily searchable and leverage the PDS Search APIs. To ingest these files into Solr,
          execute the following command from either <i>/path/to/harvest/bin</i> or <i>/path/to/registry/bin</i>:
        </p>
        <source>
# Post Harvest solr-docs to http://localhost:8983 by default
% ./registry-mgr /path/to/registry/../registry-data/solr-docs

# Post Harvest solr-docs to a Solr instance on a different host and port
% ./registry-mgr -h example.com -p 9000 /path/to/registry/../registry-data/solr-docs

        </source>
        
        <p><i>Note: This only works in a POSIX-compatible environment. For Windows users that cannot support a POSIX-compatible environment, 
        you can execute curl commands on each solr-docs/solr_doc_*.xml file like:</i>
        <source>
$ curl 'http://localhost:8983/solr/data/update/' --data-binary @C:\\path\to\solr-docs\solr_doc_0.xml
        </source>
        </p>
    </subsection>

	  <subsection name="Delete Data From Registry and Search">
	    <p>Once you have data in the Registry and/or Search, you can delete data from the Registry collections 
        using the following:
	    </p>

	    <p>Using <a href="#Registry_Manager_Tool">Registry Manager Tool</a>:
	      <source>
# Delete a specific Registry Package (aka Harvest run) from all collections
./registry-mgr -delete-pkg 86037219-aa7d-4a70-a239-4501e0c675a4

# Delete all data from all collections
./registry-mgr -delete-all  
	      </source>
	    </p>
	    
	    <p>Using <a href="https://curl.haxx.se/">curl</a> (update host/port and as needed):
	      <source>
# Delete a specific Registry Package (aka Harvest run) from all collections
$ curl 'http://localhost:8983/solr/registry/update/' --data-binary "&lt;delete&gt;&lt;query&gt;package_id:86037219-aa7d-4a70-a239-4501e0c675a4&lt;/query&gt;&lt;/delete&gt;"
$ curl 'http://localhost:8983/solr/xpath/update/' --data-binary "&lt;delete&gt;&lt;query&gt;package_id:86037219-aa7d-4a70-a239-4501e0c675a4&lt;/query&gt;&lt;/delete&gt;"
$ curl 'http://localhost:8983/solr/data/update/' --data-binary "&lt;delete&gt;&lt;query&gt;package_id:86037219-aa7d-4a70-a239-4501e0c675a4&lt;/query&gt;&lt;/delete&gt;"

# Delete all data from all collections
$ curl 'http://localhost:8983/solr/registry/update/' --data-binary "&lt;delete&gt;&lt;query&gt;*:*&lt;/query&gt;&lt;/delete&gt;"
$ curl 'http://localhost:8983/solr/xpath/update/' --data-binary "&lt;delete&gt;&lt;query&gt;*:*&lt;/query&gt;&lt;/delete&gt;"
$ curl 'http://localhost:8983/solr/data/update/' --data-binary "&lt;delete&gt;&lt;query&gt;*:*&lt;/query&gt;&lt;/delete&gt;"
	      </source>
	    </p>
	  </subsection>
	  <subsection name="Re-Ingest Data To Registry and Search">
	    <ul>
	      <li><a href="#Delete_Data_From_Registry_and_Search">Delete</a> the data you would like to remove from Registry and Search.</li>
	      <li>If you removed data from both the Registry and Search, you will need to re-run Harvest and then <a href="#Add_Data_To_Registry_and_Search">re-ingest the data</a> into the Search index.</li>
	      <li>If you only removed data from the Search index, you can then just <a href="#Add_Data_To_Registry_and_Search">re-ingest the data</a> into the Search index.</li>
	    </ul>
	  </subsection>
    </section>

    <section name="Configuration">
      <p>The Registry comes preconfigured for supporting common PDS search terms and facets. That said, it can be tailored to support Discipline Node specific search requirements. See the <a href="http://lucene.apache.org/solr/" target="_blank">Apache Solr website</a> and <a href="http://wiki.apache.org/solr/" target="_blank">wiki</a> for more information on configuring Apache Solr. The sub-sections that follow detail the steps for performing some common configuration changes.
      </p>

      <subsection name="Add a Field to the Schema">
        <p>In order to add a field to the schema, modify the <i>$REGISTRY_HOME/conf/schema.xml</i> file. The following example will add the field <i>my_field</i>:
        </p>

        <source>
&lt;field name="my_field" type="text_general" indexed="true" stored="false" \
multiValued="false" /&gt;
        </source>

        <p>See the <a href="http://wiki.apache.org/solr/SchemaXml" target="_blank">Schema XML</a> page of the Solr wiki for more information on update the Solr schema.
        </p>
      </subsection>
    </section>

    <hr />
    <section name="Search Protocols">
      <p>The Registry provides two protocols for searching the contents of the service.
      </p>

      <subsection name="PDS Search Protocol">
        <p>See the <a href="../../docs/pds4_pds_search_protocol.pdf">PDS Search Protocol</a> document for more information on search terms and result formatting provided by this protocol. If viewing this document from the ${project.artifactId} package, view the <a href="https://pds-engineering.jpl.nasa.gov/development/pds4/current/search/docs/pds4_pds_search_protocol.pdf" target="_blank">PDS Search Protocol</a> document from the Engineering Node site.
        </p>
      </subsection>

      <subsection name="PDAP Protocol">
        <p>See the <a href="../../docs/pds4_pdap_search_protocol.pdf">PDAP Search Protocol</a> document for more information on search terms and result formatting provided by this protocol. If viewing this document from the ${project.artifactId} package, view the <a href="https://pds-engineering.jpl.nasa.gov/development/pds4/current/search/docs/pds4_pdap_search_protocol.pdf" target="_blank">PDAP Search Protocol</a> document from the Engineering Node site.
        </p>
      </subsection>
    </section>

    <hr />
    <section name="Common Errors">
      TBD
    </section>
  </body>
</document>
